/* Animation of Main section */
body{
    text-align:center;
    overflow:auto;
    background: linear-gradient(315deg, rgb(54, 15, 137) 3%, rgb(87, 17, 186) 38%, rgb(0, 2, 108) 68%, rgb(14, 7, 109) 88%);
    animation: gradient 13s both infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}


/* keyframe  */
@keyframes gradient {
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}
/* Header CSS */
.head{
    text-decoration: none;
    text-align: center;
}
/* Info CSS */
.details{
    font-size: x-large;
    height: fit-content;
}
/* Marks Table */
.marksTable{
    width: 100%;
    margin-top: 0.6em;
    font-size: larger;
    background: linear-gradient(wheat,rgb(185, 184, 184));
}
.marksTable tr{
    height: 2em;
    font-weight: 600;
}
/* ========== Responsive Design (Android Devices) ========== */
@media (max-width : 767px)  {
    .details{
        font-size: medium;
        height: fit-content;
    }
    .marksTable{
        margin-top: 0.4em;
        font-size: medium;
    }
    .marksTable tr{
        height: 1.7em;
        font-weight: 500;
    }
}