/* Animation of Main section */
body{
    scroll-behavior:smooth ;
    text-align:center;
    overflow:auto;
    background: linear-gradient(315deg, rgb(54, 15, 137) 3%, rgb(87, 17, 186) 38%, rgb(0, 2, 108) 68%, rgb(14, 7, 109) 88%);
    animation: gradient 13s both infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

/* keyframe  */
@keyframes gradient {
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}
/* Headings of Each section */
.topic{
    font-size:60px;
    color: rgb(126, 251, 207);
    text-shadow: 4px 4px 5px rgb(6, 1, 13), -4px -4px 5px rgb(168, 170, 170), -4px 4px 5px rgb(9, 10, 10), 4px -4px 5px rgb(241, 243, 243);
    margin-bottom:0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* --------------------------------NEW Section--------------------------------------------- */

/* Header Hero Section intro box */
.intro-hero{
    display : flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 650px;
    font-size: 40px;
    padding:10px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* My Intro text Name,Aspiration etc */
.intro-hero  big{
    text-shadow: 4px 4px 5px rgb(157, 0, 255), -4px -4px 5px rgb(157, 0, 255), -4px 4px 5px rgb(157, 0, 255), 4px -4px 5px rgb(157, 0, 255);
    color: rgb(255, 255, 255);
    
}
/* Small intro on me */
.intro-hero p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    text-shadow: 2px 3px 2px rgb(18, 36, 199), -2px -3px 2px rgb(0, 89, 255), -2px 3px 2px rgb(0, 89, 255), 2px -3px 2px rgb(0, 89, 255);
    color:rgb(249, 249, 250);
}
/* --------------------------------NEW Section--------------------------------------------- */

/* About Me section */
.intro-box{
    display: flex;
    height:650px;
    justify-content: space-evenly;
    align-items:center;
    font-size: 1.5em;
    font-weight: 600;
    gap: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Common Intro Cards */
.intro-box .card{
    width:27%;
    border-radius:20px;
    box-shadow: 5px 6px 5px rgb(255, 255, 255), -5px -6px 5px rgb(253, 253, 253), -5px 6px 5px rgb(253, 253, 253), 5px -6px 5px rgb(253, 253, 253);
    border: 3px transparent;
    background-color: darkblue;
    color: whitesmoke;
    padding: 15px;
}
/* intro card 1 */
#intro1{
    margin-left: 2em;
}
/* Image css */
.myPic{
    box-sizing: border-box;
    border:2px solid white;
    border-radius:30px;
    transition: all 0.3s ease-in-out;
}
/* Hover Effects */
.myPic:hover{
    box-shadow: -5px -5px 4px rgb(0, 234, 255), 5px 5px 4px rgb(0, 234, 255), 5px -5px 4px rgb(0, 234, 255), -5px 5px 4px rgb(0, 234, 255)   ;
    border:2px solid white;
}

/* --------------------------------NEW Section--------------------------------------------- */
/* Experience Section CSS */
.intro-exp{
    height:37.5em;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
/* Certificate Image */
.intro-exp img{
    border: 3px transparent;
    border-radius:20px ;
    transition:all 0.3s ease-in-out;
}
.intro-exp img:hover{
    box-shadow: -4px -5px 5px rgb(255, 60, 132), 4px 5px 5px rgb(90, 2, 243),-4px 5px 5px rgb(255,60,132),4px -5px 5px rgb(90,2,243) ;
    transform: scale(1.05);
}
/* Experience Section Each Cards */
.intro-exp section{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 26em;
    width: 22%;
    padding:10px;
    border:2px transparent;
    border-radius: 20px ;
    display:flex;
    justify-content: center;
    flex-flow: column;
    color: whitesmoke;
    background: linear-gradient(rgb(24, 51, 255),rgb(51,34,255));
    transition: all 0.3s ease-in-out;
}
.intro-exp section:hover{
    box-shadow: -4px -3px 5px rgb(255, 255, 255), 4px 3px 5px rgb(255, 255, 255),-4px 3px 5px rgb(255, 255, 255), 4px -3px 5px white ;
    transform: scale(1.05);
}
.intro-exp h2,h3{
    line-height: 24px;
    font-weight: 600;
}
/* Text which are not Headings */
.intro-exp section:not(h2,h3){
    font-size: large;
}
/* --------------------------------NEW Section--------------------------------------------- */

/* Qalification section */
.intro-edu{
    display: flex;
    height:650px;
    justify-content: space-around;
    font-size: 20px;
    align-items:center;
}
/* Qualification Cards */
.edu-box{
    width: 28%;
    height: 15em;
    border: 2px transparent;
    border-radius: 5% 20% 5% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:whitesmoke;
    transition: all 0.5s ease-in-out;
    box-shadow: 8px 10px 5px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* View Marks Buttons */
.edu-box a{
    box-sizing: border-box;
    text-decoration: none;
    color: whitesmoke;
    margin-top: 10px;
    padding: 10px;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}
.edu-box a:hover{
    color: cyan;
    border: 3px transparent;
    text-shadow: 5px 3px 4px black;
    box-shadow: -4px 4px 5px cyan, -4px -4px 5px cyan,4px -4px 5px cyan, 4px 4px 5px cyan ;
}
/* edu box look enhancement */
#tenth{
    font-size: 2rem;
    background: linear-gradient(165deg,rgb(106, 0, 255),rgb(0, 15, 184));
}
#twelth{
    font-size: 2rem;
    background: linear-gradient(165deg,rgb(106, 0, 255),rgb(0, 15, 184));
}
#graduation{
    font-size: 2rem;
    background: linear-gradient(165deg,rgb(106, 0, 255),rgb(0, 15, 184));
}
#tenth:hover{
    transform: scale(1.03);
    box-shadow: 8px 10px 5px cyan;
}
#twelth:hover{
    transform: scale(1.03);
    box-shadow: 8px 10px 5px cyan;
}
#graduation:hover{
    transform: scale(1.03);
    box-shadow: 8px 10px 5px cyan;
}
/* --------------------------------NEW Section--------------------------------------------- */

/* Skills section */
.intro-skill{
    display: grid ;
    height:650px;
    font-size: 20px;
    grid-template-columns: 300px 300px 300px;
    gap: 1.5em;
    justify-content: center;
}
/* Skill cards */
.skill-box{
    height:240px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 20% 5% 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: fantasy;
    transition: all 0.6s ease-in-out;
    background: linear-gradient(315deg,darkblue,rgb(0, 64, 255));
    overflow: auto;
    background-size: 50% 70%;
    background-attachment: fixed;
    border: 2px solid cyan;
    color: whitesmoke;
}
/* Skill Cards Headings */
.skill-box span{
    position: relative;
    top: 50px;
    transition: all 0.3s ease-in;
}
/* Skill Cards Content */
.skill-box p{
    font-size: 20px;
    position: relative;
    color: transparent;
}
/* Skill Cards CSS Enhancement */
.skill-box:hover p{
    color: whitesmoke;
    transition: all 0.6s ease-in;
}
.skill-box:hover{
    box-shadow: 6px 6px 5px cyan,-6px 6px 5px cyan,6px -6px 5px cyan,-6px -6px 5px cyan;
    text-shadow: 2px 2px 2px black, -2px 2px 3px black;
}
.skill-box:hover span{
    position: relative;
    top: 0px;
}

/* --------------------------------NEW Section--------------------------------------------- */
/* Project Section */
/* Projects Box CSS */
.intro-project{
    height:650px;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: lightcyan;
}
/* Project 1 & 2 Box */
.pr{
    width: 45%;
    display: inline-flex;
    flex-direction: column;
    background: linear-gradient(215deg,blue, rgb(33, 14, 161));
    padding: 0px 20px 0px;
    border: 3px solid;
    border-radius: 15px 50px 15px 50px ;
}
/* Project 1 & 2 Images */
.intro-project img{
    border: 2px solid transparent ;
    border-radius: 10px;
    transition: all 0.4s ease-out;
}
.intro-project img:hover{
    transform: scale(1.03);
    box-shadow: 6px 7px 5px white;
}
/* --------------------------------NEW Section--------------------------------------------- */

/* Links Section */
.intro-link{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* SVG icons */
.icons{
    width: 87%;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out ;
}
#git:hover{
    transform: scale(1.2);
    fill: rgb(0, 255, 72);
}
#link:hover{
    transform: scale(1.2);
    fill: rgb(63, 28, 240);
}
#mail:hover{
    transform: scale(1.2);
    fill: rgb(239, 47, 47);
}
/* --------------------------------NEW Section--------------------------------------------- */

/* Contact Me Footer Section */
footer article{
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Footer Form */
footer .footer-form{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
/* Form input bars  */
.footer-form label{
    height: 10px;
}
.footer-form input{
    border : 2px solid black;
    background-color: rgb(113, 110, 110);
}
.footer-form input:hover{
    border:2px transparent;
    border-radius: 3px;
    color:rgb(253, 253, 253);
    background-color: rgb(67, 67, 67);
    box-shadow: 1px 2px 3px white,-1px -2px 3px grey,-1px 2px 3px white,1px -2px 3px grey;
}
/* Form Submit Button */
footer button {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s ease-in ;
}
footer button:hover{
    border: 1px transparent;
    background-color: darkgray;
    color:lightcyan;
    font-style: bold;
    box-shadow: 3px 4px 5px black, -3px -4px 5px gray, -3px 4px 5px black,3px -4px 5px gray;
}

/* ========== Responsive Design (Tablet Devices) ========== */
@media (min-width : 768px) and (max-width : 1100px) {
    /* Headings of Each Section Responsiveness */
    .topic{
    font-size: 40px;
    text-shadow: 5px 5px 9px rgb(177, 118, 254), 5px 5px 9px rgb(123, 236, 248) ;
    margin-bottom:25px ;
    }
    /* Header Hero Section intro box */
    .intro-hero big{
        font-size: 30px;
    }
    /* About Me section */
    .intro-box, .intro-exp, .intro-edu, .intro-project, .intro-link, footer article {
        flex-direction: column;
        justify-content: center;
        font-size: 1.3em;
        height: fit-content;
        gap:0.8em;
    }
    /* Common Intro Cards */
    .intro-box .card{
        display: flex;
        align-items: center;
        width: 60%;
        height: 360px;
        font-weight: 700;
    }
    #intro1{
        margin-left:0px;
    }
    #intro2{
        margin-top: 0px;
    }
    .myPic{
        border:5px;
        border-radius:20px;
        height: 200px;
    }
    /* Experience Section */
    .intro-exp{
        height: fit-content;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .intro-exp section{
        width: 40%;
        font-weight: 500;
        margin:0px 0px 10px 0px;
        font-size: smaller;
    }
    .intro-exp h2,h3{
        font-weight: 700;
    }
    .intro-exp img{
        height: 450px;
    }
    /* Qualification Section */
    .edu-box{
        width:65%;
        font-size: 50px;
        margin: 10px;
        line-height: 40px;
    }
    .edu-box a{
        margin-top: 25px;
    }
    /* SKills Section */
    .intro-skill{
        display: grid;
        height: fit-content;
        grid-template-columns: repeat(auto-fit,300px);
    }
    /* Projects Section */
    .pr{
        width: 60%;
    }
}
/* ========== Responsive Design (Android Devices) ========== */
@media (max-width : 767px)  {
    /* Headings of Each Section Responsiveness */
    .topic{
    font-size: 38px;
    text-shadow: 5px 5px 9px rgb(177, 118, 254), 5px 5px 9px rgb(123, 236, 248) ;
    margin-bottom:25px ;
    }
    /* Header Hero Section intro box */
    .intro-hero {
        margin-top:1.2em;
    }
    .intro-hero big{
        font-size: 27px;
    }
    /* About Me section */
    .intro-box, .intro-exp, .intro-edu, .intro-project, .intro-link, footer article {
        flex-direction: column;
        justify-content: center;
        font-size: 1.1em;
        height: fit-content;
        gap:0.8em;
    }
    /* Common Intro Cards */
    .intro-box .card{
        display: flex;
        align-items: center;
        width: 60%;
        height: 360px;
        font-weight: 700;
    }
    #intro1{
        height: fit-content;
        margin:1em 0px 0px 0px;
    }
    #intro2{
        margin-top: 0px;
    }
    .myPic{
        border:5px;
        border-radius:20px;
        height: 200px;
    }
    /* Experience Section */
    .intro-exp{
        height: fit-content;
        flex-direction: column;
        justify-content: space-around;
    }
    .intro-exp section{
        height: fit-content;
        width: 80%;
        font-weight: 400;
        margin:0px;
        padding: 15px;
    }
    .intro-exp h2,h3{
        font-weight: 600;
    }
    .intro-exp img{
        height: 450px;
    }
    /* Qualification Section */
    .edu-box{
        width:70%;
        height: fit-content;
        font-size: 50px;
        padding: 15px;
        margin: 10px;
        line-height: 40px;
    }
    .edu-box a{
        margin-top: 25px;
    }
    /* SKills Section */
    .intro-skill{
        display: grid;
        height: fit-content;
        grid-template-columns: repeat(1,300px);
    }
    /* Projects Section */
    .pr{
        width: 80%;
        height: fit-content;
    }
    .pr img{
        width: 80%;
    }
    .icons{
        margin-left: 1em;
        align-items: center;
    }
}
